{
  "openapi": "3.0.1",
  "info": {
    "title": "test2",
    "description": "This API provides access to test2 operations",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://nhsuk-apim-int.azure-api.net/test2"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Retrieve root resource",
        "description": "Returns metadata about the root API endpoint",
        "operationId": "getRootMetadata",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "name": "Ocp-Apim-Subscription-Key",
        "in": "header"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "name": "subscription-key",
        "in": "query"
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ]
}
